<!-- Copy this to all routes -->
<!DOCTYPE html>
<html>
        <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/styles.css?n=$ver" />
		$extstyle
        </head>
        <body>
		<div id="alert-placer"></div>
		<div id="nav"></div>
                <div id="body">Loading...</div>
        </body>
        <footer>
                <div style="display:none" id="content"></div>
                <script src="https://cdn.jsdelivr.net/npm/marked@4.0.17/lib/marked.umd.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/dompurify@2.4.0/dist/purify.min.js"></script>
		<script src="/coreapi.min.js?v=$ver"></script>
		<span id="status"></span>
	</footer>
</html>
